
#ueberschrift{

    color: blue;
    font-size: 88px;
    font-family:Sinhala Sangam MN;
    text-align: center;

  }


#link{

  margin-left: auto;
  margin-right: auto;
  width:50%;
  text-align:center;
  display:block;

  }
