body{
    font-size: 2vw;
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
}

.fächerListe{

  width: 20vw;
  height: 20vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  margin: 5vw;

}

#Gastein{
  background-image: url(./image/48284-Bad-Gastein.jpg);
  background-size: 36vw;
}
#Prag{
  background-image: url();
}
#Wachau{
  background-image: url();
}
#Lyon{
  background-image: url();
}
#Madrid{
  background-image: url();
}
#LosAngeles{
  background-image: url();
}
#Barcelona{
  background-image: url();
}
#London{
  background-image: url();
}
#Germany{
  background-image: url();
}
#Pacific-coast{
  background-image: url();
}
#USA{
  background-image: url();
}
#SanFrancisco{
  background-image: url(./image/sanfrancisco.jpeg);
  background-size: 36vw;
}
#NewYork{
background-image: url();
}
#start{
  background-color: #27408b;
  background: radial-gradient(circle at bottom right, #fff 20%,  #27408b 94%);
}

.Fotos{
  margin: 0.5vw;
  width: 30vw;
  height: 20vw;
}
.Unterseiten{

  background-repeat: no-repeat;
  background-color: #9790A4;
  background: radial-gradient(circle at bottom left, #9790A4 20%, #fff 104%);

}
